{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "ie": "11",
            "chrome": "58",
            "firefox": "54"
          },
          "useBuiltIns": "usage", 
          "corejs": 3,
          "modules": false
        }
      ]
    ]
  }
            