ody {
    font-family: Arial, sans-serif;
}

#map {
    width: 80%;        
    height: 50vh;      
    margin: 20px auto; 
    border: 2px solid #ccc; 
    border-radius: 10px;    
}

.glide {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.glide__track {
    width: 100%;
    height: 500px; /* Высота контейнера для изображений */
    overflow: hidden;
}

.glide__slide img {
    width: 50%;
    height: 50%;
    object-fit: cover; /* Обеспечивает обрезку изображений по размеру контейнера */
}

.glide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.glide__arrow {
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #0474f5;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    font-size: 70px;
}

/*.glide__arrow:hover {
    background: rgba(0, 0, 0, 0.7);
    size: 70px;
}*/

.glide__arrow--left {
    left: 2px;
}

.glide__arrow--right {
    right: 2px;
}